.react-confirm-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    //background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(1px);
    transition: all 10ms cubic-bezier(0.4, 0, 0.2, 1);
}

.react-confirm-alert-wrapper {
    z-index: 1000;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    width: auto;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    padding: 0 0 24px;
}

.react-confirm-alert-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding: 24px 24px;
    min-width: 20rem;
    min-height: 7rem;
}

.react-confirm-alert-title {
    padding: 0 0 10px 0;
}

.react-confirm-alert-content {
    padding: 0 0 10px 0;
}

.react-confirm-alert-btns {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: auto;
    button {
        margin-left: 10px;
        cursor: pointer;
        min-width: 5rem;
    }
}

@-webkit-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes react-confirm-alert-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
