.react-responsive-modal-root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.react-responsive-modal-modal {
    max-width: 800px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: #ffffff;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    margin: 1.2rem;
    padding: 1.2rem;
    position: relative;
    overflow-y: auto;
}

.react-responsive-modal-closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}

@keyframes react-responsive-modal-modal-in {
    0% {
        transform: scale(0.96);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes react-responsive-modal-modal-out {
    0% {
        transform: scale(100%);
        opacity: 1;
    }
    100% {
        transform: scale(0.96);
        opacity: 0;
    }
}
